@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Robert Butler<br />
    3022 S Yarnell Ct<br />
    Denver, CO 80231<br />
    <abbr title="Phone">P:</abbr>
    303.709.8764
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rbutler_denver@outlook.com">rbutler_denver@outlook.com</a>
</address>