@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BDS Code Test Home Page</h1>
    <p class="lead">
        This site was created as a proof-of-concept for Bernard Data Solutions. 
    </p>
    <p><a href="https://www.bernardsolutions.com/" class="btn btn-primary btn-lg" target="_blank">Learn more about BDS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Basic Task CRUD</h2>
        <p>Here is how you can manage tasks in the database with Create, Read, Update, Delete actions.</p>
        <p><a class="btn btn-default" href="/Tasks">Manage Tasks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The AJAX Calendar</h2>
        <p>This calendar control displays days that have tasks, with data being populated by an AJAX call.</p>
        <p><a class="btn btn-default" href="/Tasks/TaskCalendar">View Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Development Notes</h2>
        <p>A detailed description of how this web application was created in the shortest possible development time.</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
</div>

